body { background: #772540; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 43px; display: flex; }
.block-config-0 { color: #deeaf4; font-size: 21px; margin-bottom: 5px; }
.block-database-1 { color: #100fb3; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #f473e5; font-size: 12px; margin-bottom: 5px; }
.block-invoice-3 { color: #d5eee0; font-size: 16px; margin-bottom: 5px; }
.block-sms-4 { color: #e4ec49; font-size: 16px; margin-bottom: 5px; }